.gradle
build/

src/main/resources/application.yml
*.yml

### application-*.yml ###
application-db.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/





